__pycache__/
*.py[cod]
*.egg-info/
dist/
.venv/
.ruff_cache/
.tox/
.tmp/
/EINK_DASHBOARD.md
custom_components/eink_dashboard/icons/
custom_components/eink_dashboard/fonts/
node_modules/
custom_components/eink_dashboard/frontend/eink-dashboard-card.js
custom_components/eink_dashboard/frontend/eink-dashboard-editor.js
custom_components/eink_dashboard/frontend/*.js.map
