<svg xmlns="http://www.w3.org/2000/svg"
     width="{{ w }}" height="{{ h }}">
<rect width="{{ w }}" height="{{ h }}" fill="none"/>
<rect width="{{ bar_w }}" height="{{ bar_h }}"
      fill="{{ fill }}"/>
</svg>
