{%- from "_macros.svg.j2" import widget_title, card_container -%}
<svg xmlns="http://www.w3.org/2000/svg"
     width="{{ w }}" height="{{ h }}">
<rect width="{{ w }}" height="{{ h }}" fill="{{ hex_white }}"/>
{%- if title -%}
{{ widget_title(title, title_font_sz, x=title_x, fill=hex_gray) }}
{%- endif -%}
{%- call card_container(
    x=0, y=content_y, w=w, h=content_h,
    card_style=card_style,
    radius=m_radius, border=m_border,
    bar_width=bar_width,
    border_color=hex_black, bar_color=hex_gray) -%}
<text x="{{ text_x }}" y="{{ text_y }}"
  font-family="Roboto"
  font-size="{{ font_size }}"
  text-anchor="{{ text_anchor }}"
  dominant-baseline="{{ baseline }}"
  fill="{{ fill }}">{{ text }}</text>
{%- endcall -%}
</svg>
